---
permalink: /fancy-index/before.html
title: Index of {{url}}
---
<!DOCTYPE html>
<html lang="zh-Hans">
{% capture metaDesc %}Index of {% raw %}{{url}}{% endraw %}{% endcapture %}
	{% include head.html metaDesc=metaDesc notArticle=true %}
	<link rel="stylesheet" href="{{ '/static/css/fancyindex.css' | relative_url }}">
	<body>
		{% include header.html %}
		<main class="py-4">
			<div class="container">
				<div class="row">
					{% raw %}
					<div class="col-md-12 table-responsive" id="mirror-list">
						<div>
							<div class="col-md-8 col-xs-12 vbottom"><h3>{% endraw %}<i class="fas fa-cube"></i>{% raw %} Index of <span id="path">{{url}}</span></h3></div><!--
							--><div class="col-md-4 col-xs-12 text-right-md text-left-xs vbottom" id="mirror-info-section">
								<div id="mirror-update-info" style="display: none;">
									<strong>Last Update:</strong> <span id="mirror-last-update">--</span>
									<span id="mirror-status-badge" class="label label-status hidden-xs" style="margin-left: 10px; display: none;">--</span>
								</div>
							</div>
						</div>
					{% endraw %}
					<h1 style="display: none;">
<!--
	vim: ts=2 sts=2 sw=2 noexpandtab
-->
