<!-- Footer - 与河南省教育科研网主站保持一致 -->
<footer style="background:#232e39;color:#fff;padding:40px 0 0 0;font-size:16px;">
  <div class="container-fluid commonContainer">
    <div class="row" style="margin-bottom:32px;">
      <!-- 左侧：联系方式/关注我们/LOGO -->
      <div class="col-lg-4 col-md-12 col-sm-12" style="margin-bottom:32px;padding-left:100px;">
        <div style="font-weight:600;font-size:18px;margin-bottom:18px;">联系我们</div>
        <div style="margin-bottom:8px;color:#a5acba;">地址：郑州市二七区大学路75号郑州大学南校区逸夫楼</div>
        <div style="margin-bottom:8px;color:#a5acba;">电子邮箱：hernet@ha.edu.cn</div>
        <div style="margin-bottom:18px;color:#a5acba;">邮编：450052</div>
        <div style="font-weight:600;font-size:18px;margin-bottom:12px;">关注我们</div>
        <div style="margin-bottom:24px; position: relative; padding-left: 20px;">
          <div class="footer-social-icons" style="display: flex; align-items: center; gap: 12px;">
            <div class="social-icon-wrapper" style="position: relative;">
              <img src="/static/img/微信 1@2x.png" class="footerImage" id="showWechat" alt="微信公众号">
              <div id="imageContainer" class="tooltip-container" style="opacity: 0;">
                <img src="/static/img/Tooltip.png" alt="微信公众号二维码" id="image">
              </div>
            </div>
            <div class="social-icon-wrapper" style="position: relative;">
              <img src="/static/img/微信 1@2x.png" class="footerImage" id="showWechatOne" alt="微信群">
              <div id="imageContainerOne" class="tooltip-container" style="opacity: 0;">
                <img src="/static/img/Tooltip-1.png" alt="微信群二维码" id="imageOne">
              </div>
            </div>
            <div class="social-icon-wrapper" style="position: relative;">
              <img src="/static/img/图层_1@2x.png" class="footerImage" id="showWechatTwo" alt="视频号">
              <div id="imageContainerTwo" class="tooltip-container" style="opacity: 0;">
                <img src="/static/img/Tooltip-2.png" alt="视频号二维码" id="imageTwo">
              </div>
            </div>
          </div>
        </div>
        <div style="margin-bottom:0;padding-left:20px;">
          <img src="/static/img/logomainw.svg" alt="河南省教育科研网LOGO" style="height:38px;display:inline-block;margin-right:8px;vertical-align:middle;">
        </div>
      </div>
      <!-- 右侧：栏目分组 -->
      <div class="col-lg-8 col-md-12 col-sm-12">
        <div class="row">
          <div class="col-6 col-lg-2 col-md-4 col-sm-6 mb-3">
            <div style="font-weight:600;margin-bottom:10px;">
              <a href="https://www.ha.edu.cn/indexfront/Hernet_Introduction.aspx" target="_blank" class="footer-category-title">省网简介</a>
            </div>
            <div class="footer-submenu d-none d-lg-block">
              <div><a href="https://www.ha.edu.cn/indexfront/Hernet_Introduction.aspx" target="_blank" class="footer-sub-link">省网简介</a></div>
              <div><a href="https://www.ha.edu.cn/indexfront/HernetCenter_Introduction.aspx" target="_blank" class="footer-sub-link">省网中心简介</a></div>
              <div><a href="https://www.ha.edu.cn/indexfront/Hernet_Greatevents.aspx" target="_blank" class="footer-sub-link">省网大事记</a></div>
              <div><a href="https://www.ha.edu.cn/indexfront/Hernet_NetwordAccess.aspx" target="_blank" class="footer-sub-link">入网单位</a></div>
              <div><a href="https://www.ha.edu.cn/indexfront/Hernet_Contactus.aspx" target="_blank" class="footer-sub-link">联系我们</a></div>
            </div>
          </div>
          <div class="col-6 col-lg-2 col-md-4 col-sm-6 mb-3">
            <div style="font-weight:600;margin-bottom:10px;">
              <a href="https://www.ha.edu.cn/indexfront/News_info.aspx" target="_blank" class="footer-category-title">新闻资讯</a>
            </div>
            <div class="footer-submenu d-none d-lg-block">
              <div><a href="https://www.ha.edu.cn/indexfront/News_info.aspx" target="_blank" class="footer-sub-link">会议&活动</a></div>
              <div><a href="https://www.ha.edu.cn/indexfront/News_Hernet.aspx" target="_blank" class="footer-sub-link">省网新闻</a></div>
              <div><a href="https://www.ha.edu.cn/indexfront/News_University.aspx" target="_blank" class="footer-sub-link">高校新闻</a></div>
              <div><a href="https://www.ha.edu.cn/indexfront/HotTopic_List.aspx" target="_blank" class="footer-sub-link">热点专题</a></div>
              <div><a href="https://www.ha.edu.cn/indexfront/NewsNoticeList.aspx" target="_blank" class="footer-sub-link">信息公告</a></div>
            </div>
          </div>
          <div class="col-6 col-lg-2 col-md-4 col-sm-6 mb-3">
            <div style="font-weight:600;margin-bottom:10px;">
              <a href="https://www.ha.edu.cn/indexfront/ServiceGuide.aspx" target="_blank" class="footer-category-title">运行服务</a>
            </div>
            <div class="footer-submenu d-none d-lg-block">
              <div><a href="https://www.ha.edu.cn/indexfront/ServiceGuide.aspx" target="_blank" class="footer-sub-link">服务指南</a></div>
              <div><a href="https://www.ha.edu.cn/indexfront/AccessServices.aspx" target="_blank" class="footer-sub-link">接入服务</a></div>
              <div><a href="https://www.ha.edu.cn/indexfront/Monitoring.aspx" target="_blank" class="footer-sub-link">机房监控服务</a></div>
              <div><a href="https://www.ha.edu.cn/indexfront/CDN.aspx" target="_blank" class="footer-sub-link">CDN服务</a></div>
              <div><a href="https://www.ha.edu.cn/indexfront/VideoMeeting.aspx" target="_blank" class="footer-sub-link">教育厅视频会议接入</a></div>
              <div><a href="https://www.ha.edu.cn/indexfront/DataBackup.aspx" target="_blank" class="footer-sub-link">数据灾备服务</a></div>
            </div>
          </div>
          <div class="col-6 col-lg-2 col-md-4 col-sm-6 mb-3">
            <div style="font-weight:600;margin-bottom:10px;">
              <a href="https://www.ha.edu.cn/indexfront/InfoService.aspx" target="_blank" class="footer-category-title">信息服务</a>
            </div>
            <div class="footer-submenu d-none d-lg-block">
              <div><a href="https://www.ha.edu.cn/indexfront/InfoService.aspx" target="_blank" class="footer-sub-link">服务指南</a></div>
              <div><a href="https://www.ha.edu.cn/indexfront/WebsiteRanking.aspx" target="_blank" class="footer-sub-link">网站排名</a></div>
              <div><a href="https://www.ha.edu.cn/indexfront/DocumentAssembly.aspx" target="_blank" class="footer-sub-link">文件汇编</a></div>
              <div><a href="https://www.ha.edu.cn/indexfront/InfoResource.aspx" target="_blank" class="footer-sub-link">信息资源</a></div>
              <div><a href="https://www.ha.edu.cn/indexfront/ElecJournal.aspx" target="_blank" class="footer-sub-link">电子期刊</a></div>
              <div><a href="https://www.ha.edu.cn/indexfront/WeChat.aspx" target="_blank" class="footer-sub-link">微信公众号</a></div>
              <div><a href="https://www.ha.edu.cn/indexfront/ViedoMeetingService.aspx" target="_blank" class="footer-sub-link">省网视频会议服务</a></div>
            </div>
          </div>
          <div class="col-6 col-lg-2 col-md-4 col-sm-6 mb-3">
            <div style="font-weight:600;margin-bottom:10px;">
              <a href="https://sec.ha.edu.cn/" target="_blank" class="footer-category-title">安全服务</a>
            </div>
            <div class="footer-submenu d-none d-lg-block">
              <div><a href="https://sec.ha.edu.cn/" target="_blank" class="footer-sub-link">河南省教育信息安全监测中心</a></div>
            </div>
          </div>
          <div class="col-6 col-lg-2 col-md-4 col-sm-6 mb-3">
            <div style="font-weight:600;margin-bottom:10px;">
              <a href="https://www.ha.edu.cn/indexfront/ScientificResearch.aspx#sicentificserviceid" target="_blank" class="footer-category-title">科研服务</a>
            </div>
            <div class="footer-submenu d-none d-lg-block">
              <div><a href="https://www.ha.edu.cn/indexfront/ScientificResearch.aspx#sicentificserviceid" target="_blank" class="footer-sub-link">服务指南</a></div>
              <div><a href="https://www.ha.edu.cn/indexfront/ScientificResearch.aspx#scentificresourceid" target="_blank" class="footer-sub-link">科研资源</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 版权备案 -->
    <div class="row" style="margin-top:24px;">
      <div class="col-xs-0 col-sm-1 col-md-1 col-lg-1"></div>
      <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
        <div class="row" style="align-items: center;">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="color:#a5acba;font-size:15px;text-align:center;">
            Copyright © 2001-<span style="color:#A5ACBA;" id="footer-this-year">{{ 'now' | date: "%Y" }}</span> 河南省教育科研网 版权所有 <a style="text-decoration:underline;color:#A5ACBA;font-weight:bold;font-size:16px;" target="_blank" href="https://beian.miit.gov.cn/">豫ICP备05002440号-2</a>
          </div>
        </div>
      </div>
      <div class="col-xs-0 col-sm-1 col-md-1 col-lg-1"></div>
    </div>
  </div>
</footer>

<style>
@media (max-width: 991px) {
  footer .col-lg-4, footer .col-lg-8, footer .col-lg-2, footer .col-lg-6, footer .col-lg-12 {
    max-width: 100% !important;
    flex: 0 0 100% !important;
  }
  footer .row > div {
    margin-bottom: 24px !important;
  }
  footer .row {
    flex-wrap: wrap !important;
  }
  /* 小屏幕时隐藏二级菜单 */
  .footer-submenu {
    display: none !important;
  }
  /* 小屏幕时移除左侧padding */
  footer .col-lg-4 {
    padding-left: 15px !important;
  }
  /* 小屏幕时版权信息居中显示 */
  footer .col-lg-12 {
    text-align: center !important;
  }
  /* 小屏幕时调整六个栏目的布局 */
  .col-6.col-lg-2 {
    width: 50% !important;
    flex: 0 0 50% !important;
    max-width: 50% !important;
    margin-bottom: 20px !important;
  }
}

/* 小屏幕动态布局 - 768px 以下 */
@media (max-width: 767px) {
  /* 栏目标题在小屏幕上垂直排列，每行一个 */
  .col-6.col-lg-2 {
    width: 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
    margin-bottom: 15px !important;
    text-align: center !important;
  }
  
  /* 栏目标题字体调整 */
  .footer-category-title {
    font-size: 16px !important;
    padding: 8px 0 !important;
  }
}

/* 中等小屏幕 - 576px 到 767px */
@media (min-width: 576px) and (max-width: 767px) {
  /* 栏目在中等小屏幕上两列布局 */
  .col-6.col-lg-2 {
    width: 50% !important;
    flex: 0 0 50% !important;
    max-width: 50% !important;
    text-align: center !important;
  }
}

/* 响应式布局 - 中等屏幕 */
@media (min-width: 768px) and (max-width: 991px) {
  footer .col-lg-4 {
    padding-left: 30px !important;
  }
  /* 调整栏目布局 */
  footer .col-6 {
    width: 50% !important;
  }
}

/* 超小屏幕优化 */
@media (max-width: 576px) {
  footer {
    font-size: 14px !important;
  }
  footer .col-lg-4 {
    padding-left: 10px !important;
  }
  /* 关注我们的图标在小屏幕上调整间距 */
  .footer-social-icons {
    gap: 8px !important;
  }
  .footerImage {
    width: 32px !important;
    height: 32px !important;
  }
  /* 版权信息在超小屏幕上调整 */
  footer .col-lg-12 {
    font-size: 13px !important;
    line-height: 1.4 !important;
  }
  /* 超小屏幕上栏目标题使用网格布局 */
  .col-6.col-lg-2 {
    width: 50% !important;
    flex: 0 0 50% !important;
    max-width: 50% !important;
    margin-bottom: 12px !important;
    text-align: center !important;
    padding: 0 5px !important;
  }
  
  .footer-category-title {
    font-size: 14px !important;
    padding: 6px 0 !important;
  }
}

@media (min-width: 992px) {
  /* 大屏幕时显示二级菜单 */
  .footer-submenu {
    display: block !important;
  }
  /* 大屏幕时调整左侧内边距 */
  footer .col-lg-4 {
    padding-left: 100px !important;
  }
}

/* 一级标题链接样式 */
.footer-category-title {
  color: #fff !important;
  text-decoration: none !important;
  font-weight: 600;
  display: block;
}

.footer-category-title:hover {
  color: #0A77FF !important;
  text-decoration: none !important;
}

/* 二级菜单链接样式 */
.footer-sub-link {
  color: #a5acba !important;
  text-decoration: none !important;
  display: block;
  padding: 2px 0;
  transition: var(--transition-base);
}

.footer-sub-link:hover {
  color: #0A77FF !important;
  text-decoration: none !important;
}

/* 覆盖默认的链接悬停样式 */
footer a:hover { 
  text-decoration: none !important; 
}
</style>
