<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% include seo.html metaDesc=include.metaDesc %}
<link rel="shortcut icon" href="{{ '/static/img/favicon.ico' | relative_url }}">

<link href="{{ '/static/css/bootstrap.min.css' | relative_url }}" rel="stylesheet">
<link href="{{ '/static/css/all.min.css' | relative_url }}" rel="stylesheet">
<link href="{{ '/static/css/main.css' | relative_url }}" rel="stylesheet">
<link href="{{ '/static/css/header.css' | relative_url }}" rel="stylesheet">
<link href="{{ '/static/css/footer.css' | relative_url }}" rel="stylesheet">
</head>
